.select2-container--bootstrap .select2-selection--single{
  height: 38px !important;
  line-height: 1.829 !important;
}

.select2-container--bootstrap .select2-selection{
  border-radius: $form-input-radius !important;
}

.select2-container{
  width: 100% !important;
}

.square{
  border-radius: 0 !important;
  img{
    border-radius: 0 !important;
  }
}

div.fileinput{
  display: grid !important;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;

  *{
    grid-column: 1;
    grid-row:1;
  }
}

input[type="radio"], input[type="checkbox"] {
  width: 20px;
  height: 100%;
}

.space-between{
  display: flex;
  justify-content: space-between;
}